In [7]:
import datetime
import pandas as pd
import json
import os

In [8]:
def create_row(data):
    the_row = {}
    for i in data['participantIdentities']:
        if i['player']['summonerName'] == 'Slickruic23':
            the_row['pedro_there?'] = True

        if i['player']['summonerName'] == 'Aorus Aznstroke':
            the_row['john_there?'] = True

        if i['player']['summonerName'] == 'Rendezvouz':
            the_row['vu_there?'] = True

        if i['player']['summonerName'] == 'datonenerd':
            my_id = i['participantId']

    for j in data['participants']:
        if j['participantId'] == my_id:
            the_row['win?'] = j['stats']['win']

    the_row['gameMode'] = data['gameMode']

    the_row['gameType'] = data['gameType']
    
    return the_row

In [9]:
the_table = []
for filename in os.listdir('../all_matches'):
    
    with open('../all_matches/%s' % filename) as json_file:
        match_info = json.load(json_file)
    
    a_row = create_row(match_info)
    the_table.append(a_row)
    
df = pd.DataFrame(the_table)

In [10]:
df

      win?   gameMode      gameType pedro_there? vu_there? john_there?
0    False       ARAM  MATCHED_GAME          NaN       NaN         NaN
1    False       ARAM  MATCHED_GAME          NaN       NaN         NaN
2    False  ONEFORALL  MATCHED_GAME          NaN       NaN         NaN
3    False       ARAM  MATCHED_GAME          NaN       NaN         NaN
4    False       ARAM  MATCHED_GAME          NaN       NaN         NaN
..     ...        ...           ...          ...       ...         ...
774   True       ARAM  MATCHED_GAME          NaN      True         NaN
775   True       ARAM  MATCHED_GAME         True      True         NaN
776  False       ARAM  MATCHED_GAME          NaN       NaN         NaN
777  False       ARAM  MATCHED_GAME          NaN       NaN         NaN
778  False       ARAM  MATCHED_GAME          NaN       NaN         NaN

[779 rows x 6 columns]

In [11]:
df.gameMode.unique()

array(['ARAM', 'ONEFORALL', 'CLASSIC', 'URF', 'NEXUSBLITZ'], dtype=object)

In [12]:
df.gameType.unique()

array(['MATCHED_GAME'], dtype=object)

In [13]:
df = df[df['gameMode'] == 'ARAM']

In [14]:
df.gameMode.unique()

array(['ARAM'], dtype=object)

In [20]:
df_losses = df[df['win?'] == False]
df_win = df[df['win?'] == True]

In [16]:
df_losses

      win? gameMode      gameType pedro_there? vu_there? john_there?
0    False     ARAM  MATCHED_GAME          NaN       NaN         NaN
1    False     ARAM  MATCHED_GAME          NaN       NaN         NaN
3    False     ARAM  MATCHED_GAME          NaN       NaN         NaN
4    False     ARAM  MATCHED_GAME          NaN       NaN         NaN
5    False     ARAM  MATCHED_GAME          NaN       NaN         NaN
..     ...      ...           ...          ...       ...         ...
772  False     ARAM  MATCHED_GAME         True      True         NaN
773  False     ARAM  MATCHED_GAME         True      True         NaN
776  False     ARAM  MATCHED_GAME          NaN       NaN         NaN
777  False     ARAM  MATCHED_GAME          NaN       NaN         NaN
778  False     ARAM  MATCHED_GAME          NaN       NaN         NaN

[351 rows x 6 columns]

In [19]:
df_losses.count()

win?            351
gameMode        351
gameType        351
pedro_there?    145
vu_there?       169
john_there?      15
dtype: int64

In [21]:
df_win.count()

win?            351
gameMode        351
gameType        351
pedro_there?    134
vu_there?       189
john_there?      23
dtype: int64